.side-panel{
  position: absolute;
  padding:10px;
  top: 0;
  right: 0;
  z-index: 100;
  width: 40%;
  height: 100%;
  background: #E4E4E4;
}

.side-panel-header a{
  margin-left: 100px;
}

@media only screen and (max-width: 500px) {
    .side-panel {
        width: 100%;
    }
}
